//
//  Release.xcconfig
//  XCConfigSample
//
//  Created by 刘波 on 2020/7/31.
//  Copyright © 2020 struggleblog. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 注意 Standard.xcconfig 的路径
#include "Standard.xcconfig"

// Release 所需要的配置跟标准配置相同, 不需要复写配置项
