//
//  Standard.xcconfig
//  XCConfigSample
//
//  Created by 刘波 on 2020/7/31.
//  Copyright © 2020 struggleblog. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 命名约定，以 prefix_realname_suffix 的形式添加 Key-Value, 其中
// prefix 固定为 CONFIG
// realname 为真正的 Key
// suffix 为 Value 的类型，如 String、Int、Bool、UInt32 等

STRUGGLE_APP_HOST_String = https:/$()/release.struggleblog.com
STRUGGLE_ENABLE_LOGGING_Bool = false
STRUGGLE_SDK_APPID_String = 1019154125
